/* Global style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  "Inter", sans-serif;
}
body{
  background-color: #0b0620;

}
.container {
  max-width: 1900px;
  margin: auto;
}
.primary-btn {
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  padding: 12px 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius:100px;
  width:201px;
  height:44px;
  font-size: 16px;
}
.unique-btn{
  box-sizing: border-box;
  border: 1px solid rgba(17, 218, 17, 0.847);
border-radius: 10000px;
width: 147px;
height: 44px;
gap:8;
color: rgba(17, 218, 17, 0.847);
font-style: 600;
font-size: 16px;
font-weight: 600;
line-height: 19px;
background:none;
}
/*navigation*/
nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 16px 200px 16px 200px;
   box-sizing: border-box;
   border: 1px solid rgba(0, 0, 0, 1);
   border-bottom: 1px solid rgba(64, 37, 103, 0.708);
  /* background-color: rgba(65, 37, 103, 1);*/
   background: rgba(26, 11, 46, 0.813);

}

nav>div{
    display: flex;
  gap: 5px;
  align-items: center;
  
}
nav > div > h1 {
  font-weight: 700;
  font-size: 26px;
  color:white;
}
nav > div > h1 > span {

  font-size: 26px;
  font-weight: bold;

  background: linear-gradient(90deg,
rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),
rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

nav > ul {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}
nav > ul li a {
  color: #FFFFFF;
  display: flex;
  gap: 5px;
  align-items: center;
  list-style: none;
}
nav > ul li a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
/* Banner section */
.banner-section{
  background-image:linear-gradient(rgba(0,0,0,0.715),rgba(48,44,44,0.14)),url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:white ;
  min-height: 500px;
  width: 100%;
  
}
.banner1{
  margin: 101px 525px;
}
.banner-section .rounded-mic-parent{
position: relative;
}
.banner-section .rounded-mic-parent .rounded-shape {
width: 350px;
height: auto;

}
.banner-section .rounded-mic-parent .mic{
  width: 150px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}
.banner-section .rounded-mic-parent span{
   background-color: #00ff88;
    color: black;
    font-weight: 700;
    padding: 6px 15px;
    border-radius:20px ;
    display:inline-block ;
    position:absolute;
    left: 344px;
    top: -5px;   
}

.banner-section>div>h2 {
  font-weight: 700;
  font-size: 32px;
}
.para{
  max-width: 650px;
  font-weight: 400;
  font-size: 16px;
  color: #bcbcbc;
}
.banner-section>div{
  display: flex;
  flex-direction:column ;
  gap: 15px;

}
/*About section*/
.about-section{
 padding: 80px 0;
}
.container1{
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.about-content h2{

   font-size: 36px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.about-content p{
 
   max-width: 700px;
   font-weight: 400;
  margin: auto;
  line-height: 1.6;
  color: #bcbcbc;
}
.stats{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
 
}
.stat-card{
  flex: 1;
  padding: 30px 20px;
 
}
.stat-card h2{
  color: #00FF88;
  font-size: 36px;
  margin-bottom: 10px;
}
.stat-card p{

  font-size: 14px;
  color: #bcbcbc;
 
}
/*Heading section*/
/*.features-section{
  color: white;
  padding: 80px 20px;
}
.features-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
  margin-top: 50px;
}
.feature-card{
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
 border: 1px solid rgba(255,255,255,0.2);
   position: relative;
  overflow: hidden;
}
.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
*/

.why-section {
  padding: 60px 20px;
  color: white;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
  height: 853px;
   grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";

}
.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }
.card5 { grid-area: card5; }


.card {
   background: #120b2e;
  color: #fff;
  padding: 40px;
  border-radius: 14px;
  border: 1px solid #2a1f5f;
  font-size: 18px;
  position: relative;
}
.card1{
  /*grid-column: span 1;
  grid-row: span 2;*/
   background: rgba(53,17,101,0.4);
  color:#FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  border-radius: 40px;
  width: 380px;
  height: 498px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card2{
 /* grid-column: span 2;
  grid-row: span 1 ;*/
  width: 790px;
  height: 235px;
 background: rgba(53,17,101,0.4);
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card3{
 /* grid-column: span 2;
  grid-row: span 1 ;*/
  width: 790px;
  height: 245px;
 background: rgba(53,17,101,0.4);
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card4{
  /*grid-column: span 2;
  grid-row: span 1 ;*/
  width: 790px;
  height: 255px;
 background: rgba(53,17,101,0.4);
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.card5{
  /*grid-column: span 1;
  grid-row: span 1 ;*/
  width: 380px;
  height: 273px;
 background: rgba(53,17,101,0.4);
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.icon{
  font-size: 40px;
    background: linear-gradient(90deg, rgba(247, 232, 63, 0.669), rgba(251, 9, 178, 0.884), rgba(145, 0, 248, 0.071));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
  margin: 0 auto 15px;
  position: absolute;
  top: 12px;
  left: 11px;
}
.card h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #ffffff;
}

.card p {
  line-height: 1.5;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bcbcbc;
  text-align: left;
}

/* Mobile */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    max-width: 350px;
  }
  h2 {
    font-size: 2em;
  }
}
